<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CrawlerLib.Engine" version="2.3.5544.21265" targetFramework="net452" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net452" />
  <package id="EPPlus" version="4.0.4" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net452" />
</packages>